* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(75, 145, 255);
    font: normal 18pt Arial;

    height: 98vh;
}

header h1 {
    color: #fff;
    padding: 2rem;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: .8rem;
    box-shadow: 5px 5px 10px #00000050;
    color: #000;
    margin: auto;
    padding: 1rem;
    max-width: 40rem;
}

div#dados {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

input#botao {
    padding: .2rem .3rem;
}

footer {
    color: #fff;
    font-style: italic;
    margin-top: 2rem;
    text-align: center;
}