body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(75, 145, 255);
    font: normal 18pt Arial;

    height: 98vh;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: .8rem;
    box-shadow: 5px 5px 10px #00000030;
    color: #000;
    height: 20rem;
    margin: auto;
    padding: 2rem .9rem;
    max-width: 30rem;
    text-align: center;
}

select {
    height: 15.9rem;
    letter-spacing: .1em;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
}

footer {
    color: #fff;
    font-style: italic;
    text-align: center;
}